:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white-backgorund: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.45;
  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom left;
}

p {
  word-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.text-container {
  text-align: center;
  margin: 0.313rem 0;
}

.text-container h1 {
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 2.188rem;
  margin-bottom: 0.625rem;
}

.text-container p {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  margin: 0.625rem 0;
}

.star-review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0.313rem 0;
}

.review-card {
  background-color: var(--light-grayish-magenta);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  margin: 0.438rem 0;
  padding: 0.625rem 0.938rem;
}

.stars-container {
  margin-top: 0.625rem;
}

.review-text {
  color: var(--very-dark-magenta);
  font-weight: 700;
  margin: 0.625rem 0 0.625rem 0;
  text-align: center;
}

.social-proof-card {
  background-color: var(--very-dark-magenta);
  color: var(--white-backgorund);
  padding: 2.188rem;
  border-radius: 0.625rem;
}

.title-area {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}

.title-area img {
  width: 40px;
  border-radius: 100%;
  margin-right: 1.25rem;
}

.verification {
  color: var(--soft-pink);
  margin-top: 0.313rem;
}

.cards-container {
  display: flex;
  width: 100%;
  margin: 0.313rem 0;
  flex-direction: column;
}

.cards-container:last-child {
  margin-bottom: 0;
}

.social-proof-card {
  width: 100%;
  margin: 0.313rem 0 0.625rem 0;
}

@media (min-width: 601px) and (max-width: 767px) {
  .container {
    margin: 15%;
  }

  .title-area {
    justify-content: center;
    align-items: center;
  }

  .social-proof-card {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top 70vh left 70vh;
  }

  .container {
    margin: 10%;
  }

  .text-container {
    width: 85%;
    margin-bottom: 1.25rem;
  }

  .text-container h1 {
    font-size: 2.813rem;
  }

  .star-review-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .review-card {
    width: 18.75rem;
    height: 4.688rem;
    align-self: center;
    margin: inherit 0.0313rem;
  }

  .stars-container {
    margin-top: 1.25rem;
  }

  .review-text {
    margin: 0.313rem 0 1.563rem 0;
  }

  .cards-container {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .social-proof-card {
    width: 18.75rem;
    height: 17.188rem;
  }

  .title-area {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 1088px) and (max-width: 1440px) {
  .container {
    margin: 5% 16%;
  }

  .text-container,
  .star-review-container,
  .cards-container {
    width: 100%;
  }

  .review-card {
    width: 21.875rem;
  }

  .social-proof-card {
    width: 21.875rem;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-position: top left, top 28vh right;
  }

  .container {
    margin: 4.5rem 11rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text-container {
    width: 34.375rem;
  }

  .star-review-container {
    width: 30rem;
    height: 15.625rem;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
  }
  .text-container {
    text-align: left;
  }

  .text-container h1 {
    font-size: 3.125rem;
  }

  .text-container p {
    width: 85%;
  }

  .review-card {
    padding: 0;
    flex-direction: row;
    height: 4.3rem;
    width: 25rem;
  }

  .review-card:first-child {
    align-self: flex-start;
  }

  .review-card:last-child {
    align-self: flex-end;
  }

  .stars-container,
  .review-text {
    align-self: center;
    margin: 0 0.938rem;
  }

  .cards-container {
    width: 100%;
    height: 16rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
  }

  .social-proof-card {
    width: 25rem;
    height: 13.75rem;
    margin-bottom: 0;
    font-size: 0.875rem;
  }

  .social-proof-card:first-child {
    align-self: flex-start;
    margin-right: 1.563rem;
  }

  .social-proof-card:last-child {
    align-self: flex-end;
    margin-left: 1.563rem;
  }

  .title-area {
    margin-bottom: 1.25rem;
  }

  .title-area img {
    width: 2.5rem;
  }
}

@media (min-width: 1601px) {
  .container {
    margin: 8rem 12rem;
  }

  .star-review-container {
    width: 40rem;
  }

  .social-proof-card {
    width: 30rem;
  }
}
