:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white-background: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-background);
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left 30vw bottom;
  font-family: "Spartan", sans-serif;
  font-size: 0.938rem;
}

.container {
  margin: 4.5rem 14rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-container {
  width: 31.25rem;
  height: 12.5rem;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  margin-bottom: 1rem;
}

.text-container p {
  width: 29rem;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
}

.star-review-container {
  width: 34rem;
  height: 12.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}

.review-card {
  background-color: var(--light-grayish-magenta);
  width: 26rem;
  height: 3.438rem;
  display: flex;
  align-self: center;
  padding: 0.625rem 0;
  border-radius: 0.625rem;
}

.review-card:first-child {
  align-self: flex-start;
}

.review-card:last-child {
  align-self: flex-end;
}

.stars-container,
.review-text {
  align-self: center;
  justify-self: center;
  padding-left: 2rem;
}

.review-text {
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.cards-container {
  margin-top: 3.813rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 18.125rem;
}

.social-proof-card {
  height: 14.688rem;
  width: 23.438rem;
  background-color: var(--very-dark-magenta);
  padding: 1.563rem;
  border-radius: 0.625rem;
  align-self: center;
}

.social-proof-card:first-child {
  align-self: flex-start;
  margin-right: 1.25rem;
}

.social-proof-card:last-child {
  align-self: flex-end;
  margin-left: 1.25rem;
}

.social-proof-card img {
  border-radius: 100%;
  width: 3.125rem;
}

.card-name,
.description-text {
  color: var(--light-grayish-magenta);
}

.verification {
  color: var(--soft-pink);
}

.title-area {
  display: flex;
  align-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.563rem;
}

.title-text {
  margin-left: 1.563rem;
  align-self: center;
}

.title-text p {
  margin: 0.313rem 0;
}

.description-text {
  margin-top: 1.563rem;
}
